<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.bit.cqt.mall.mapper.CommentMapper">

    <select id="selectAll" resultType="Comment">
        select
        *
        from
        tb_discuss
    </select>

    <insert id="addUser" >
        INSERT INTO tb_discuss
        (
            name,
            content,
            user
        )
        VALUES
        (
        #{user},

        #{password},

         #{username}

        );
    </insert>





</mapper>